<h1>Our Team</h1>

<% @robots.each do |robot| %>
  <!-- <div class="container col-md-4"> -->
    <img src="<%= robot.avatar %>"></br>
    This is <a href="/robots/<%= robot.id %>"><%= robot.name %></a></h3> . He was born in <%= robot.city %>, <%= robot.state %> on <%= robot.birthdate %>. He was hired into <%= robot.department %> on <%= robot.date_hired %>.
  </br>
  </br>
<% end %>