<a href="/robots">Get to Know</a><h1><%= @robot.name %></h1>

<img src="<%= @robot.avatar %>"></br>
This is <%= @robot.name %>. He was born in <%= @robot.city %>, <%= @robot.state %> on <%= @robot.birthdate %>. He was hired into <%= @robot.department %> on <%= @robot.date_hired %>.
